@import "./colors";

// Importing Fonts
@font-face {
  font-family: "DancingScript";
  src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: "MonomaniacOne";
  src: url(./fonts/MonomaniacOne-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Shabnam";
  src: url(./fonts/Shabnam.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  // Making each rem equal to 10px => 10 * 100 / 16 = 62.5%
  font-size: 62.5%;
  // Default Font Family
  font-family: "Roboto", "Shabnam";
}

.header {
  width: 100%;
  font-family: "MonomaniacOne";
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  // margin: 1rem 2rem;
  margin: 0;
  padding: 0;
  user-select: none;
  text-transform: uppercase;

  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    font-size: 2.5rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  @media screen and (max-width: 1024px) {
    font-size: 2.5rem;
  }

  & span {
    background: -webkit-linear-gradient(#eee, $color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-family: inherit;
  font-size: 2.4rem;
  user-select: none;
  padding: 1rem;
  text-align: center;
}

.app_container {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  // padding: 2rem;
  transition: all 0.5s ease-in-out;

  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
}

.message {
  font-size: 2rem;
  font-family: inherit;
  text-transform: uppercase;
  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

// .algorithm_label {
//   margin: 0.5rem;
//   font-size: 2rem;
//   font-family: inherit;
//   text-transform: uppercase;
// }

.reset_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 18rem;
  padding: 1rem 2rem;
  margin: 1rem;
  font-family: inherit;
  background: white;
  border-radius: 8px;
  border: 4px solid $color-primary;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $color-primary;
    border: 4px transparent solid;
    color: white;
  }
  &:hover > svg {
    fill: white !important;
  }

  // @media only screen and (max-width: 1024px) and (orientation: landscape) {
  //   grid-row: 4 / 5;
  //   grid-column: 2 / 3;
  // }
  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    align-self: flex-start;
  }
}

.start_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.start {
  background: white;
  color: $color-primary;
  font-family: inherit;
  font-size: 4rem;
  min-width: 20rem;
  min-height: 20rem;
  margin: 1rem;
  margin-top: auto;
  border: 8px $color-primary solid;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  transform: scale(1);
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    // transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50% - 15rem))
    //   scale(1.05);
    transform: scale(1.05);
    background: $color-primary;
    color: white;
  }
}

.maze_container {
  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
  }
}

// Accessibility Buttons Container
.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    flex-direction: column;
    align-self: flex-end;
  }
}

// Arrow Control Buttons Container
.controlButtons {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  margin-bottom: 1rem;

  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    grid-row: 3 / 5;
    grid-column: 3 / 4;
  }
}
