@import "../colors.scss";

.accessibilityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  font-family: inherit;
  background: white;
  border: 4px $color-primary solid;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $color-primary;
    color: white;
  }

  // Icon Styling
  &:hover > svg {
    fill: white !important;
  }

  &_text {
    margin-left: 1rem;
  }

  @media screen and (max-width: 600px) {
    width: min-content;

    &_text {
      display: none;
    }
  }
}
