@import "../colors.scss";

.results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  transition: all 0.5s ease-in-out;
  opacity: 1;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.header {
  color: black;
  font-size: 2.5rem;
  margin: 1.5rem;
  padding: 0;
}

.table {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 4px solid $color-primary;
  // border-radius: 8px;
  padding: 1rem 2rem;
  cursor: default;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: $color-primary;
  margin: 0.5rem 0;

  & input {
    width: 60%;
    font-family: inherit;
    font-size: 1.6rem;
    background: $color-primary;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    transition: all 0.5s ease-out;
  }

  // Remove arrow from the number input box
  & input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  & input::placeholder {
    color: white;
    opacity: 0.8;
    font-family: inherit;
    font-size: 1.4rem;
  }

  & input:invalid {
    background: rgb(200, 0, 0);
  }

  & select {
    width: 60%;
    font-family: inherit;
    font-size: 1.6rem;
    text-transform: capitalize;
    background: $color-primary;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    outline: none;
    text-align: center;
  }

  & option {
    background: white;
    color: black;

    &:disabled {
      color: grey;
    }
  }

  & textarea {
    font-family: inherit;
    font-size: 1.5rem;
    width: 60%;
    height: 15rem;
    resize: none;
    border: 4px $color-primary solid;
    border-radius: 4px;
    outline: none;
    padding: 1rem;
    overflow: hidden;
  }
}

.btn {
  width: 12rem;
  background: white;
  color: $color-primary;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 3px solid $color-primary;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $color-primary;
    color: white;
  }
}

.submitBtn {
  font-family: inherit;
  font-size: 2rem;
  width: 50%;
  padding: 1rem 2rem;
  margin: 2rem;
  background: $color-primary;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px black;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:disabled {
    background: grey;
  }

  &:hover {
    transform: translateY(-4px);
  }
}
